div{
    width: 200px;
    height: 200px;
    background-color: #0000ff;
    /* transition-property: width  height; */
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function:linear; */
    transition: all 3s ease-in;
    position: absolute;
    left: 0%;
}
div:hover{
    left: 10%;
   width: 400px; 
   height: 400px;
   border-radius: 50%;
   box-shadow: 9px 9px 9px 3px rgb(231, 76, 76);
}